//*VARAIBLES
$color-primary: #833ab4;
$color-secondary: #fd1d1d;
$color-tertiary: #11998e;
$color-quaternary: #009FFF;

$color-grey-dark: #6C757D;
$color-grey-light-1: #dfdfdf;
$color-grey-light-2: #f7f7f7;

$color-black: #000;
$color-white: #fff;

// * MIXINS
@mixin breakpoint($size) {
    @if $size==big {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }

    @else if $size==medium-land {
        @media (orientation: landscape) and (max-width: 900px) {
            @content;
        }
    }

    @else if $size==small {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }
}

// * RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// * BASE
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

    @include breakpoint(medium-land) {
        font-size: 56.25%;
    }

    @include breakpoint(small) {
        font-size: 50%;
    }
}

body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);

    @include breakpoint(small) {
        height: auto;
    }

}

// * SPAN COLOR
.loses {
    color: $color-secondary;
}

.win {
    color: $color-tertiary;
}

.draw {
    color: $color-quaternary;
}


// * GAME
.game {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
    background-color: $color-grey-light-2;
    border-radius: 2.5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset -1.5rem -1.5rem 2rem rgba($color-black, .32), inset 1.5rem 1.5rem 2rem rgba($color-black, .32);

    @include breakpoint(big) {
        box-shadow: none;
        width: 98%;
        height: 98vh;
    }

    @include breakpoint(medium-land) {
        width: 100%;
        height: 200vh;
        box-shadow: none;
        border-radius: 0;
    }

    @include breakpoint(small) {
        width: 100%;
        height: 100vh;
        padding: 1rem 0;
        border-radius: 0;
    }

    &__title-box {
        align-self: stretch;
        flex-basis: 15%;
        display: flex;
    }

    &__title {
        margin: auto;
        font-size: 6rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 700;
        background: -webkit-linear-gradient(45deg, $color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include breakpoint(big) {
            font-size: 5rem;
        }

        @include breakpoint(medium-land) {
            font-size: 4rem;
        }

        @include breakpoint(small) {
            font-size: 2.7rem;
        }
    }

    &__select-option-text-box {
        flex-basis: 5%;
    }

    &__select-option-title {
        font-size: 3rem;
        color: $color-grey-dark;
        text-transform: uppercase;

        @include breakpoint(medium-land) {
            font-size: 2.5rem;
        }
    }

    &__option-box {
        display: flex;
        justify-content: space-between;
        max-width: 114rem;
        height: 30rem;
        margin: 0 auto;

        @include breakpoint(big) {
            padding: 0 .5rem;
            height: 25rem;
        }

        @include breakpoint(medium-land) {
            height: 25rem;
        }

        @include breakpoint(small) {
            height: 17rem;
        }
    }

    &__select-option {
        flex-basis: 30%;
        background-color: $color-grey-dark;
        padding: .8rem;
        border-radius: 2rem;
    }

    &__select-option-img {
        padding: 2rem;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: scale-down;
        background-color: $color-grey-light-1;
    }

    &__btn-start {
        width: 20rem;
        height: 6.5rem;
        border: none;
        border-radius: 3.25rem;
        background-color: $color-primary;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 1.2px;
        color: $color-white;
        outline: none;
        transition: all .3s ease;

        @include breakpoint(small) {
            width: 15rem;
            height: 5rem;
            border-radius: 2.5rem;
            font-size: 1.6rem;
        }

        &:hover {
            background-color: $color-secondary;
            box-shadow: 0 1rem 2rem rgba($color-black, .3);
            transform: translateY(-5px);
        }

        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black, .3);
            transform: translateY(-2px);
        }
    }

    &__display-box {
        flex-basis: 25%;
        align-self: stretch;
    }

    &__display {
        width: 80%;
        margin: 0 auto;
        color: $color-grey-dark;
    }

    &__result-box {
        margin-bottom: 2.5rem;
    }

    &__result {
        font-size: 3rem;
        text-align: center;

        @include breakpoint(big) {
            font-size: 2.2rem;
        }

        @include breakpoint(medium-land) {
            font-size: 2rem;
        }

        @include breakpoint(small) {
            font-size: 1.8rem;
        }
    }

    &__statiscits-title {
        font-size: 2.3rem;
        margin-bottom: 1rem;

        @include breakpoint(small) {
            font-size: 1.7rem;
        }
    }

    &__statistic {
        font-size: 1.6rem;
    }

}