//*VARAIBLES
// $color-primary-light: #A98EDA;
// $color-primary-medium: #59359A;
// $color-primary-dark: #8BC5F4;

// $color-secondary-light: #4DD4AC;
// $color-secondary-medium: #20C975;
// $color-secondary-dark: #13795B;
// $color-tertiary-light: #E35D6A;
// $color-tertiary-medium: #B02A37;
// $color-tertiary-dark: #842029;

$color-primary: #833ab4;
$color-secondary: #fd1d1d;
$color-tertiary: #fcb045;
$color-quaternary: #fdeff9;

$color-grey-dark: #6C757D;
$color-grey-light-1: #dfdfdf;
$color-grey-light-2: #f7f7f7;

$color-black: #000;
$color-white: #fff;

// * RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// * BASE
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary, $color-tertiary);
}

// * GAME
.game {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
    background-color: $color-grey-light-2;
    border-radius: 2.5rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset -1.5rem -1.5rem 2rem rgba($color-black, .32), inset 1.5rem 1.5rem 2rem rgba($color-black, .32);

    &__title-box {
        align-self: stretch;
        flex-basis: 15%;
        display: flex;
    }

    &__title {
        margin: auto;
        font-size: 6rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px;
        font-weight: 700;
        background: -webkit-linear-gradient(45deg, $color-primary, $color-secondary, $color-tertiary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__select-option-text-box {
        flex-basis: 5%;
    }

    &__select-option-title {
        background-color: $color-grey-dark;
    }

    &__option-box {
        display: flex;
        justify-content: space-between;
        max-width: 114rem;
        height: 30rem;
        margin: 0 auto;
    }

    &__select-option {
        flex-basis: 30%;
        background-color: $color-grey-dark;
        padding: .8rem;
        border-radius: 2rem;
    }

    &__select-option-img {
        padding: 2rem;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: scale-down;
        background-color: $color-grey-light-1;
    }

    &__btn-start-box {}

    &__btn-start {
        width: 20rem;
        height: 6.5rem;
        border: none;
        border-radius: 3.25rem;
        background-color: $color-primary;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 1.2px;
        color: $color-white;
        outline: none;
    }

    &__display-box {
        flex-basis: 25%;
    }

    &__display {}

    &__result-box {}

    &__result {}

    &__statiscits-box {}

    &__statiscits-title {}

    &__statiscit {}

}